.container{
    display: flex;
    background-color: whitesmoke;
}
.image{
    height: 500px;
}
#i1{
    height: 400px; 
    width: 400px; 
    margin-top: 100px;
    margin-left: 150px; 
    border-radius: 300px; 
    border-color: white;
    border-width: 20px;
    border-style: solid;  
}
.login{
    margin-top: 100px; 
    margin-left: 200px; 
    height: 500px;
}
#uname{
    width: 250px; 
    height: 25px
}
#pwd{
    width: 250px; 
    height: 25px
}
#button{
    background-color: red; 
    color: black; 
    border-radius: 50px; 
    border-color: red; 
    padding: 10px; 
    height: fit-content; 
    width: 100px;
}
.main{
    display: flex;
    height: 40%;
    width: 100%;
}
#menuLogo{
    margin-top: 20px;
    margin-left: 25px;
    position:absolute;
}
#logo{
    height: 65px;
    width: 130px;
    margin-left:60px;
    position:absolute;
}
#search{
    height: 15px;
    width: 15px;
    margin-left: 281px;
    margin-top: 25px;
}
#span{
    margin-left: 9px;
    margin-top:25px;
    position: absolute;
}
#notification{
    margin-top: 30px;
    margin-left: 775px;
    position: absolute;
    height: 20px;
    width: 20px;
}
#profile{
    margin-left: 820px;
    margin-top: 27px;
    position: absolute;
    height: 25px;
    width: 25px;
}
#profileName{
    position: absolute;
    margin-left: 865px;
    margin-top: 30px;
}
.content{
    display: flex;
}
.navigation{
    align-items: center;
}
.discription{
    height:994px;
    width: 1030px;
    background-color: whitesmoke;
    margin-left: 224px;
    position: absolute;
    margin-top: 22px;
}

#nav1{
    height: 20px;
    width: 20px;
    margin-top: 5px;
    position: absolute;
    margin-top: 49px;
    margin-left: 44px;
}
#dashboard{
    margin-left: 40px;
    margin-top: -22px;
    position: absolute;
}
#dashboard:hover{
    color: red;
}



#nav2{
    height: 20px;
    width: 20px;
    margin-left: 45px;
    margin-top: 85px;
    position: absolute;
}
#analysis{
    margin-top:-22px ;
    margin-left:40px;
    position: absolute;
    color: black;
}

#nav3{
    height: 20px;
    width: 20px;
    margin-left: 45px;
    margin-top: 120px;
    position: absolute;
}
#inbox{
    margin-top:-22px ;
    margin-left:40px;
    position: absolute;
}
#nav4{
    height: 20px;
    width: 20px;
    margin-left: 45px;
    margin-top: 155px;
    position: absolute; 
}
#history{
    position: absolute;
    margin-left: 42px;
    margin-top: -23px;
}
#nav5{
    position: absolute;
    margin-top: 190px;
    margin-left: 45px;
    height: 20px;
    width: 20px;
}
#users{
    height: 20px;
    width: 20px;
    margin-left: 42px;
    margin-top: -22px;
    position: absolute;
}
#nav6{
    position: absolute;
    margin-top: 225px;
    margin-left: 45px;
    height: 20px;
    width: 20px;
}
#maintenance{
    margin-left: 42px;
    margin-top: -22px;
}
#nav7{
    position: absolute;
    margin-top: 260px;
    margin-left: 45px;
    height: 20px;
    width: 20px;  
}
#settings{
    
    margin-left: 42px;
    margin-top: -22px;
}
.header{
    font-weight: bold;
    position: absolute;
    margin-left: 37px;
    margin-top: 23px;
    font-size: 25px;
}
.blocks{
    display: flex;
}
.block1{
    display: flex;
    background-color: white;
    position: absolute;
    height: 64px;
    width: 182px;
    margin-top: 67px;
    margin-left: 24px;
}
.block2{
    display: flex;
    background-color: white;
    position: absolute;
    height: 64px;
    width: 182px;
    margin-top: 67px;
    margin-left: 224px;
}
.block3{
    display: flex;
    background-color: white;
    position: absolute;
    height: 64px;
    width: 182px;
    margin-top: 67px;
    margin-left: 424px;
}
.block4{
    display: flex;
    background-color: white;
    position: absolute;
    height: 64px;
    width: 182px;
    margin-top: 67px;
    margin-left: 626px;
}
.block5{
    display: flex;
    background-color: white;
    position: absolute;
    height: 64px;
    width: 182px;
    margin-top: 67px;
    margin-left: 827px;
}
.graph{
    display: flex;
}
.block6{
    display: flex;
    background-color: white;
    position: absolute;
    height: 347px;
    width: 655px;
    margin-top: 154px;
    margin-left: 24px;
}
.block7{
    display: flex;
    background-color: white;
    position: absolute;
    height: 347px;
    width: 313px;
    margin-top: 154px;
    margin-left: 697px;
}
.block8{
    background-color: white;
    position: absolute;
    height: 442px;
    width: 986px;
    margin-top: 521px;
    margin-left: 23px;
}


#star{
    height: 20px;
    width: 20px;
    position: absolute;
    margin-top: 23px;
    margin-left: 23px;
}
#num1{
    position: absolute;
    margin-top: 12px;
    margin-left: 69px;
}
#dis1{
    margin-left: 64px;
    margin-top: 38px;
    font-size: 14px;
    position: absolute;
}
.sale{
    display: flex;
    font-weight: bold;
    font-size: 20px;
    margin-left: 17px;
    margin-top: 14px; 
}
#weekly{
    margin-top: 18px;
    margin-left: 393px;
    position: absolute;
}
#monthly{
    margin-top: 18px;
    margin-left:488px;
    position: absolute;
}
#yearly{
    margin-top: 18px;
    margin-left:585px;
    position: absolute;
}
#gFigure{
    margin-left: -38px;
    margin-top: 50px;
    height: 276px;
    width: 600px;
    position: absolute;
}
.salesByCountry{
    font-weight: bold;
    position: absolute;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 20px;
}
#sbcFigure{
    position: absolute;
    margin-top: 44px;
    margin-left: 81px;
    height: 167px;
    width: 167px;
}
.stateName{
    display: flex;
}
.sName1{
    position: absolute;
    margin-left: 34px ;
    margin-top: 231px;
}
.sName2{
    position: absolute;
    margin-left:243px ;
    margin-top: 231px;
}
#radiocheck{
    position: absolute;
    margin-top: -3px;
    margin-left: -38px;
    height: 25px;
    width: 50px;
}
.invoices{
    display: flex;

}
#inv{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    margin-top: 26px;
    margin-left: 32px;
}
#viewAll{

    position: absolute;
    margin-top: 18px;
    margin-left: 906px;
    color: red;
}
.line{
    display: flex;
    color: gray;
}
#column1{
    margin-top: 81px;
    margin-left: 36px;
    position: absolute;
}
#column2{
    margin-top: 81px;
    margin-left: 161px;
    position: absolute;
}
#column3{
    margin-top: 81px;
    margin-left: 445px;
    position: absolute;
}
#column4{
    margin-top: 81px;
    margin-left: 638px;
    position: absolute;
}
#column5{
    margin-top: 81px;
    margin-left: 773px;
    position: absolute;
}
#column6{
    margin-top: 81px;
    margin-left: 881px;
    position: absolute;
}
#l1{
    margin-top:120px ;
    margin-left: 20px;
    margin-right: 20px;
}
#l2{
    margin-top: 65px;
    margin-left: 20px;
    margin-right: 20px;
}
#l3{
    margin-top:30px ;
    margin-left: 20px;
    margin-right: 20px;
}
#l4{
    margin-top:-75px ;
    margin-left: 20px;
    margin-right: 20px;
}
#l5{
    margin-top:97px ;
    margin-left: 20px;
    margin-right: 20px;
}
#l6{
    margin-top:34px ;
    margin-left: 20px;
    margin-right: 20px;  
}
#l7{
    margin-top:34px ;
    margin-left: 20px;
    margin-right: 20px;  
} 
#l8{
    margin-top:34px ;
    margin-left: 20px;
    margin-right: 20px;  
} 
#l9{
    margin-top:34px ;
    margin-left: 20px;
    margin-right: 20px;  
} 

#col1{
        margin-top: -58px;
        margin-left: 36px;
        position: absolute;
    }
    #col2{
        margin-top: -58px;
        margin-left: 161px;
        position: absolute;
    }
    #col3{
        margin-top: -58px;
        margin-left: 381px;
        position: absolute;
    }
    #col4{
        margin-top: -58px;
        margin-left: 638px;
        position: absolute;
    }
    #col5{
        margin-top: -60px;
        margin-left:785px;
        position: absolute;
        height: 21px;
        width: 32px;
        background-color: lightgreen;
        color: darkgreen;
        border-radius: 3px;
        padding-top:2px ;
        padding-left: 2px;
    }
    #col6{
        margin-top: -58px;
        margin-left: 881px;
        position: absolute;
    }
    #col7{
        margin-top: -57px;
        margin-left: 36px;
        position: absolute;
    }
    #col8{
        margin-top: -57px;
        margin-left: 191px;
        position: absolute;
    }
    #col9{
        margin-top: -57px;
        margin-left: 381px;
        position: absolute;
    }
    #col10{
        margin-top: -57px;
        margin-left: 638px;
        position: absolute;
    }
    #col11{
        margin-top: -57px;
        margin-left:785px;
        position: absolute;
        height: 21px;
        width: 32px;
        background-color: lightgreen;
        color: darkgreen;
        border-radius: 3px;
        padding-top:2px ;
        padding-left: 2px;
    }
    #col12{
        margin-top: -57px;
        margin-left: 881px;
        position: absolute;
    }
    #col13{
        margin-top: 40px;
        margin-left: 36px;
        position: absolute;
    }
    #col14{
        margin-top: 40px;
        margin-left: 191px;
        position: absolute;
    }
    #col15{
        margin-top: 40px;
        margin-left: 381px;
        position: absolute;
    }
    #col16{
        margin-top: 40px;
        margin-left: 638px;
        position: absolute;
    }
    #col17{
        margin-top: 40px;
        margin-left:785px;
        position: absolute;
        height: 21px;
        width: 32px;
        background-color: lightgreen;
        color: darkgreen;
        border-radius: 3px;
        padding-top:2px ;
        padding-left: 2px;
    }
    #col18{
        margin-top: 40px;
        margin-left: 881px;
        position: absolute;
    }
    #col19{
        margin-top: -24px;
        margin-left: 36px;
        position: absolute;
    }
    #col20{
        margin-top: -24px;
        margin-left: 141px;
        position: absolute;
    }
    #col21{
        margin-top: -24px;
        margin-left: 381px;
        position: absolute;
    }
    #col22{
        margin-top: -24px;
        margin-left: 638px;
        position: absolute;
    }
    #col23{
        margin-top: -27px;
        margin-left:785px;
        position: absolute;
        height: 21px;
        width: 32px;
        background-color: lightgreen;
        color: darkgreen;
        border-radius: 3px;
        padding-top:2px ;
        padding-left: 2px;
    }
    #col24{
        margin-top: -24px;
        margin-left: 881px;
        position: absolute;
    }
    #col25{
        margin-top: 0px;
        margin-left: 36px;
        position: absolute;
    }
    #col26{
        margin-top: 0px;
        margin-left: 150px;
        position: absolute;
    }
    #col27{
        margin-top: 0px;
        margin-left: 381px;
        position: absolute;
    }
    #col28{
        margin-top: 0px;
        margin-left: 638px;
        position: absolute;
    }
    #col29{
        margin-top: -2px;
        margin-left:781px;
        position: absolute;
        height: 21px;
        width: 43px;
        background-color: lightsalmon;
        color: red;
        border-radius: 3px;
        padding-top:2px ;
        padding-left: 2px;
    }
    #col30{
        margin-top: 0px;
        margin-left: 881px;
        position: absolute;
    }
    #col31{
        margin-top: 0px;
        margin-left: 36px;
        position: absolute;
    }
    #col32{
        margin-top: 0px;
        margin-left: 150px;
        position: absolute;
    }
    #col33{
        margin-top: 0px;
        margin-left: 381px;
        position: absolute;
    }
    #col34{
        margin-top: 0px;
        margin-left: 638px;
        position: absolute;
    }
    #col35{
        margin-top: -2px;
        margin-left:778px;
        position: absolute;
        height: 21px;
        width: 54px;
        background-color:lightgray;
        color: gray;
        border-radius: 3px;
        padding-top:2px ;
        padding-left: 2px;
    }
    #col36{
        margin-top: 0px;
        margin-left: 881px;
        position: absolute;
    }
    #col37{
        margin-top: 0px;
        margin-left: 36px;
        position: absolute;
    }
    #col38{
        margin-top: 0px;
        margin-left: 186px;
        position: absolute;
    }
    #col39{
        margin-top: 0px;
        margin-left: 381px;
        position: absolute;
    }
    #col40{
        margin-top: 0px;
        margin-left: 638px;
        position: absolute;
    }
    #col41{
        margin-top: -2px;
        margin-left:785px;
        position: absolute;
        height: 21px;
        width: 32px;
        background-color: lightgreen;
        color: darkgreen;
        border-radius: 3px;
        padding-top:2px ;
        padding-left: 2px;
    }
    #col42{
        margin-top: 0px;
        margin-left: 881px;
        position: absolute;
    }
    #col43{
        margin-top: 0px;
        margin-left: 36px;
        position: absolute;
    }
    #col44{
        margin-top: 0px;
        margin-left: 157px;
        position: absolute;
    }
    #col45{
        margin-top: 0px;
        margin-left: 381px;
        position: absolute;
    }
    #col46{
        margin-top: 0px;
        margin-left: 638px;
        position: absolute;
    }
    #col47{
        margin-top: -2px;
        margin-left:781px;
        position: absolute;
        height: 21px;
        width: 43px;
        background-color: lightsalmon;
        color: red;
        border-radius: 3px;
        padding-top:2px ;
        padding-left: 2px;
    }
    #col48{
        margin-top: 0px;
        margin-left: 881px;
        position: absolute;
    }
    #col49{
        margin-top: 0px;
        margin-left: 36px;
        position: absolute;
    }
    #col50{
        margin-top: 0px;
        margin-left: 157px;
        position: absolute;
    }
    #col51{
        margin-top: 0px;
        margin-left: 381px;
        position: absolute;
    }
    #col52{
        margin-top: 0px;
        margin-left: 638px;
        position: absolute;
    }
    #col53{
        margin-top: -2px;
        margin-left:785px;
        position: absolute;
        height: 21px;
        width: 32px;
        background-color: lightgreen;
        color: darkgreen;
        border-radius: 3px;
        padding-top:2px ;
        padding-left: 2px;
    }
    #col54{
        margin-top: 0px;
        margin-left: 881px;
        position: absolute;
    }
    .ana{
        height:994px;
        width: 1030px;
        background-color: whitesmoke;
        margin-left: 224px;
        position: absolute;
        margin-top: 22px;
    }
    .Analysis{
    font-weight: bold;
    position: absolute;
    margin-left: 37px;
    margin-top: 23px;
    font-size: 25px;
    }
    .mainbox{
        height: 914px;
        width: 993px;
        background-color: white;
        margin-left: 21px;
        position: absolute;
        margin-top: 60px;
    }
    .oneColumn{
        position: absolute;
        margin-top: 21px;
        margin-left: 21px;
        font-size: 17px;
    }
    #textField1{
        position: absolute;
        margin-top: 63px;
        margin-left: 22px;
        height: 25px;
        width: 940px;
    }
    input ~ #name {
        margin-top: 59px;
        margin-left: 21px;
        height: 25px;
        width: 940px;
    }
    input:focus-within{
        border-color: gray;    
    }
    #name{
        color: gray;
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 10px;
        transition: 0.2s;
        position: absolute;
        margin-left: 20px;
        margin-top: 50px;
        width: 80px;
    }
    input:focus ~ #name, input:valid ~ #name{
        top: -5px;
        left: 15px;
        font-size: small;
        background-color: #fff;
        width: 40px;
        padding-left: 5px;
        color: gray;
    }
    .text-field2{
        position: absolute;
        margin-top: 50px;
        margin-left: 50px;
    }
    #dropdown1{
        position: absolute;
        margin-top: 65px;
        margin-left: -30px;
        height: 32px;
        width: 951px;
    }
    #textField3{
        position: absolute;
        margin-top: 173px;
        margin-left: 22px;
        height: 80px;
        width: 940px;
    }
    input ~ #textField3 {
        margin-top: 59px;
        margin-left: 21px;
        height: 25px;
        width: 940px;
    }
    input:focus-within{
        border-color: gray;    
    }
    #multipleLine{
        color: gray;
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 10px;
        transition: 0.2s;
        position: absolute;
        margin-left: 20px;
        margin-top: 175px;
        width: 95px;
    }
    input:focus ~ #multipleLine, input:valid ~ #multipleLine{
        top: -5px;
        left: 15px;
        font-size: small;
        background-color: #fff;
        width: 80px;
        padding-left: 5px;
        color: gray;
    }
    .twoColumn{
        position: absolute;
        margin-top: 279px;
        margin-left: 21px;
        font-size: 17px;
    }
    #textField4{
        position: absolute;
        margin-top: 316px;
        margin-left: 22px;
        height: 25px;
        width: 455px;
    }
    input ~ #textField4 {
        margin-top: 59px;
        margin-left: 21px;
        height: 25px;
        width: 940px;
    }
    input:focus-within{
        border-color: gray;    
    }
    #tf4{
        color: gray;
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 10px;
        transition: 0.2s;
        position: absolute;
        margin-left: 20px;
        margin-top: 313px;
        width: 95px;
    }
    input:focus ~ #tf4, input:valid ~ #tf4{
        top: -5px;
        left: 15px;
        font-size: small;
        background-color: #fff;
        width: 40px;
        padding-left: 5px;
        color: gray;
    }
    #textField5{
        position: absolute;
        margin-top: 316px;
        margin-left: 495px;
        height: 25px;
        width: 455px;
    }
    input ~ #textField5 {
        margin-top: 59px;
        margin-left: 21px;
        height: 25px;
        width: 465px;
    }
    input:focus-within{
        border-color: gray;    
    }
    #userName{
        color: gray;
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 10px;
        transition: 0.2s;
        position: absolute;
        margin-left: 496px;
        margin-top: 313px;
        width: 95px;
    }
    input:focus ~ #userName, input:valid ~ #userName{
        top: -5px;
        left: 15px;
        font-size: small;
        background-color: #fff;
        width: 50px;
        padding-left: 5px;
        color: gray;
    }
    #textField6{
        position: absolute;
        margin-top: 366px;
        margin-left: 22px;
        height: 25px;
        width: 455px;
    }
    input ~ #textField6 {
        margin-top: 59px;
        margin-left: 21px;
        height: 25px;
        width: 940px;
    }
    input:focus-within{
        border-color: gray;    
    }
    #password1{
        color: gray;
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 10px;
        transition: 0.2s;
        position: absolute;
        margin-left: 20px;
        margin-top: 363px;
        width: 95px;
    }
    input:focus ~ #password1, input:valid ~ #password1{
        top: -5px;
        left: 15px;
        font-size: small;
        background-color: #fff;
        width: 60px;
        padding-left: 5px;
        color: gray;
    }
    .text-field7{
        position: absolute;
        margin-top: 50px;
        margin-left: 50px;
    }
    #dropdown2{
        position: absolute;
        margin-top: 316px;
        margin-left: 445px;
        height: 32px;
        width: 465px;
    }
    .threeColumn{
        position: absolute;
        margin-top: 414px;
        margin-left: 21px;
        font-size: 17px;
    }
    #textField8{
        position: absolute;
        margin-top: 450px;
        margin-left: 22px;
        height: 25px;
        width: 290px;
    }
    input ~ #textField8 {
        margin-top: 59px;
        margin-left: 21px;
        height: 25px;
        width: 940px;
    }
    input:focus{
        border-color: red;    
    }
    #focus{
        color: gray;
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 10px;
        transition: 0.2s;
        position: absolute;
        margin-left: 20px;
        margin-top: 445px;
        width: 95px;
    }
    input:focus ~ #focus, input:valid ~ #focus{
        top: -5px;
        left: 15px;
        font-size: small;
        background-color: #fff;
        width: 40px;
        padding-left: 5px;
        color: gray;
    }
    #textField9{
        position: absolute;
        margin-top: 450px;
        margin-left: 340px;
        height: 25px;
        width: 290px;
    }
    input ~ #textField9 {
        margin-top: 59px;
        margin-left: 21px;
        height: 25px;
        width: 940px;
    }
    input:focus{
        border-color: red;    
    }
    #password2{
        color: gray;
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 10px;
        transition: 0.2s;
        position: absolute;
        margin-left: 337px;
        margin-top: 447px;
        width: 95px;
    }
    input:focus ~ #password2, input:valid ~ #password2{
        top: -5px;
        left: 15px;
        font-size: small;
        background-color: #fff;
        width: 60px;
        padding-left: 5px;
        color: gray;
    }
    #textField10{
        position: absolute;
        margin-top: 450px;
        margin-left: 660px;
        height: 25px;
        width: 290px;
    }
    input ~ #textField10 {
        margin-top: 59px;
        margin-left: 21px;
        height: 25px;
        width: 940px;
    }
    input:focus{
        border-color: red;    
    }
    #disabled{
        color: gray;
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 10px;
        transition: 0.2s;
        position: absolute;
        margin-left: 657px;
        margin-top: 447px;
        width: 95px;
    }
    input:focus ~ #disabled, input:valid ~ #disabled{
        top: -5px;
        left: 15px;
        font-size: small;
        background-color: #fff;
        width: 60px;
        padding-left: 5px;
        color: gray;
    }
    .fourColumn{
        position: absolute;
        margin-top: 503px;
        margin-left: 21px;
        font-size: 17px;
    }
    #textField11{
        position: absolute;
        margin-top: 540px;
        margin-left: 22px;
        height: 25px;
        width: 219px;
    }
    input ~ #textField11 {
        margin-top: 59px;
        margin-left: 21px;
        height: 25px;
        width: 940px;
    }
    input:focus{
        border-color: red;    
    }
    #designation{
        color: gray;
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 10px;
        transition: 0.2s;
        position: absolute;
        margin-left: 22px;
        margin-top: 537px;
        width: 95px;
    }
    input:focus ~ #designation, input:valid ~ #designation{
        top: -5px;
        left: 15px;
        font-size: small;
        background-color: #fff;
        width: 70px;
        padding-left: 5px;
        color: gray;
    }
    #textField12{
        position: absolute;
        margin-top: 540px;
        margin-left: 263px;
        height: 25px;
        width: 219px;
    }
    input ~ #textField12 {
        margin-top: 59px;
        margin-left: 21px;
        height: 25px;
        width: 940px;
    }
    input:focus{
        border-color: red;    
    }
    #tf12{
        color: gray;
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 10px;
        transition: 0.2s;
        position: absolute;
        margin-left: 263px;
        margin-top: 537px;
        width: 95px;
    }
    input:focus ~ #tf12, input:valid ~ #tf12{
        top: -5px;
        left: 15px;
        font-size: small;
        background-color: #fff;
        width: 70px;
        padding-left: 5px;
        color: gray;
    }
    #textField13{
        position: absolute;
        margin-top: 540px;
        margin-left: 506px;
        height: 25px;
        width: 219px;
    }
    input ~ #textField13 {
        margin-top: 59px;
        margin-left: 21px;
        height: 25px;
        width: 940px;
    }
    input:focus{
        border-color: red;    
    }
    #tf13{
        color: gray;
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 10px;
        transition: 0.2s;
        position: absolute;
        margin-left: 504px;
        margin-top: 537px;
        width: 95px;
    }
    input:focus ~ #tf13, input:valid ~ #tf13{
        top: -5px;
        left: 15px;
        font-size: small;
        background-color: #fff;
        width: 60px;
        padding-left: 5px;
        color: gray;
    }
    .text-field14{
        position: absolute;
        margin-top: 50px;
        margin-left: 50px;
    }
    #dropdown3{
        position: absolute;
        margin-top: 489px;
        margin-left: 697px;
        height: 32px;
        width: 217px;
    }
    .column5{
        position: absolute;
        margin-top: 594px;
        margin-left: 21px;
        font-size: 17px;
    }
    .column6{
        position: absolute;
        margin-top: 630px;
        margin-left: 21px;
    }
    .column7{
        display: flex;
    }
    #upload{
        display: flex;
        height: 32px;
        width: 100px;
        position: absolute;
        border-color: red;
        border-radius: 32px;
        margin-top: 665px;
        margin-left: 22px;
        color: red;
        background-color: #fff;
        padding-top: 6px;
        padding-left: 7px;
    }
    #noItemSelected{
        font-size: small;
        position: absolute;
        margin-top: 679px;
        margin-left: 153px;
        color: gray;
        
    }
    .column8{
        position: absolute;
        margin-top:715px;
        margin-left: 22px;
        
    }
    #radio1{
        position: absolute;
        margin-top: 750px;
        margin-left: 22px;
    }
    #option1{
        position: absolute;
        margin-top: 748px;
        margin-left: 47px;
    }
    #radio2{
        position: absolute;
        margin-top: 750px;
        margin-left: 125px;
    }
    #option2{
        position: absolute;
        margin-top: 748px;
        margin-left: 154px;
    }
    .column9{
        position: absolute;
        margin-top:783px;
        margin-left: 22px;
        
    }
    #checkbox1{
        position: absolute;
        margin-top: 823px;
        margin-left: 22px;
    }
    #option3{
        position: absolute;
        margin-top: 821px;
        margin-left: 47px;
    }
    #checkbox2{
        position: absolute;
        margin-top: 822px;
        margin-left: 125px;
    }
    #option4{
        position: absolute;
        margin-top: 820px;
        margin-left: 154px;
    }



